<section class="about section" id="about">
  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My Introduction</span>
  <div class="about__container container grid">
    <img alt="Profile Image" class="about__img" src="packages/images/profile2_robot.png" />
    <div class="about__data">
      <p class="about__description">
        I’m Shaunak Chorge, skilled in Python, C/C++, Java, SQL, and web
        development fundamentals. Passionate about applying AI to real-world
        problems. Experienced in training courses and internships. I'm eager to
        contribute my skills to exciting projects and am open to internships and
        collaborations to advance in AI and data science community.
      </p>
      <div class="about__info">
        <div>
          <span class="about__info-title">2+</span>
          <span class="about__info-name">Months of <br />
            experience</span>
        </div>
        <div>
          <span class="about__info-title">04+</span>
          <span class="about__info-name">Completed <br />
            certifications</span>
        </div>
        <div>
          <span class="about__info-title">09+</span>
          <span class="about__info-name">Agg.<br />GPA</span>
        </div>
      </div>
      <div class="about__buttons">
        <a class="button button--flex" download=""
          href="https://drive.google.com/file/d/1CMbgdRyi0jqxOW1muzkTG_Y-L5wVEVt7/view?usp=drive_link">
          Download CV<i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
