<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Shaunak Chorge</h1>
        <span class="footer__subtitle">
          <a href="https://git.io/typing-svg"
            ><img
              alt="Typing SVG"
              src="https://readme-typing-svg.herokuapp.com?font=Poppins&amp;size=50&amp;duration=4000&amp;pause=1000&amp;color=F7F7F7&amp;width=780&amp;height=75&amp;lines=Coder;Developer;AI+Enthusiast"
            />
          </a>
        </span>
      </div>
      <ul class="footer__links">
        <li>
          <a class="footer__link" href="#qualification">Qualification</a>
        </li>
        <li>
          <a class="footer__link" href="#portfolio">Projects</a>
        </li>
        <li>
          <a class="footer__link" href="#contact">Contact</a>
        </li>
      </ul>
      <div class="footer__socials">
        <a
          class="footer__social"
          href="https://www.instagram.com/_shaunakkk/"
          target="_blank"
        >
          <i class="uil uil-instagram"></i>
        </a>
        <a
          class="home__social-icon"
          href="https://www.linkedin.com/in/shaunak-chorge"
          target="_blank"
        >
          <i class="uil uil-linkedin"></i>
        </a>
        <a
          class="home__social-icon"
          href="https://github.com/ShaunakChorge"
          target="_blank"
        >
          <i class="uil uil-github"></i>
        </a>
      </div>
    </div>
    <p class="footer__copy">© Shaunak Chorge. All rights reserved.</p>
  </div>
</footer>
