<section class="home section" id="home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        <a class="home__social-icon" href="https://www.linkedin.com/in/shaunak-chorge" target="_blank">
          <i class="uil uil-linkedin-alt"></i>
        </a>
        <a class="home__social-icon" href="https://github.com/ShaunakChorge" target="_blank">
          <i class="uil uil-github-alt"></i>
        </a>
        <a class="home__social-icon" href="mailto:shaunak.chorge@gmail.com">
          <i class="uil uil-envelope"></i>
        </a>
      </div>
      <div class="home__img">
        <!-- Directly using an <img> tag instead of SVG and masking -->
        <img alt="Profile Image" class="home__blob-img" src="packages/images/profile1_shaunak.png" />
        <!-- Replace with your image path -->
      </div>
      <div class="home__data">
        <h1 class="home__title">Hi, Shaunak here!</h1>
        <h3 class="home__subtitle">
          <span class="text">I am</span>
          <img alt="Typing SVG" class="svg-image" loading="lazy"
            src="https://readme-typing-svg.herokuapp.com?font=Poppins&amp;weight=600&amp;size=45&amp;duration=4000&amp;pause=50&amp;color=0C84F7&amp;width=780&amp;height=75&amp;lines=Coder;Developer;AI+Enthusiast" />
        </h3>
        <a class="button button--flex home__button" href="#contact">
          Contact Me<i class="uil uil-message button__icon"></i>
        </a>
      </div>
    </div>
    <div class="home__scroll">
      <a class="home__scroll-button button--flex" href="#about">
        <i class="uil uil-mouse-alt home__scroll-mouse"></i>
        <span class="home__scroll-name">Scroll Down</span>
        <i class="uil uil-arrow-down home__scroll-arrow"></i>
      </a>
    </div>
  </div>
</section>