<section class="qualification__section" id="qualification">
  <h2 class="section__title">Qualification</h2>
  <span class="section__subtitle">My personal journey</span>
  <div class="qualification__container container">
    <div class="qualification__tabs">
      <div class="qualification__button button--flex" data-target="#work">
        <i class="uil uil-graduation-cap qualification__icon"></i>
        Education
      </div>
      <div
        class="qualification__button button--flex qualification__active"
        data-target="#education"
      >
        <i class="uil uil-briefcase-alt qualification__icon"></i>
        Work
      </div>
    </div>
    <div class="qualification__sections">
      <!-- WORK TAB CONTENT -->
      <div class="qualification__content" data-content="" id="work">
        <!-- Item 1: Osource Global -->
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">OSOURCE GLOBAL PVT. LTD.</h3>
            <span class="qualification__subtitle"
              >Python Automation Intern</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Mar 2026 – Jun 2026
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!-- Item 2: Shivohini -->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <h3 class="qualification__title">SHIVOHINI TECHAI LLP.</h3>
            <span class="qualification__subtitle">AI &amp; ML Intern</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Sep 2025 – Mar 2026
            </div>
          </div>
        </div>

        <!-- Item 3: Edunet -->
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">EDUNET</h3>
            <span class="qualification__subtitle"
              >AI &amp; Data Analytics Intern</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Jan 2025 – Feb 2025
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!-- Item 4: Techsaksham -->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <h3 class="qualification__title">TECHSAKSHAM</h3>
            <span class="qualification__subtitle"
              >AI &amp; Transformative Learning Intern</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Dec 2024 – Jan 2025
            </div>
          </div>
        </div>

        <!-- Item 5: Osource India -->
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">OSOURCE INDIA PVT. LTD.</h3>
            <span class="qualification__subtitle"
              >Python Automation Intern</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Jul 2024 – Aug 2024
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!-- Item 6: IBM SkillsBuild -->
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <h3 class="qualification__title">IBM SKILLSBUILD</h3>
            <span class="qualification__subtitle"
              >FrontEnd Development Intern</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Jun 2024 – Jul 2024
            </div>
          </div>
        </div>

        <!-- Item 7: Academor -->
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">ACADEMOR</h3>
            <span class="qualification__subtitle">AI &amp; Python Intern</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> Jan 2023
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
          </div>
        </div>
      </div>

      <!-- EDUCATION TAB CONTENT -->
      <div
        class="qualification__content qualification__active"
        data-content=""
        id="education"
      >
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">Cumballa Hill High School</h3>
            <span class="qualification__subtitle">High School - Mumbai</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> - 2020
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>
        <div class="qualification__data">
          <div></div>
          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <h3 class="qualification__title">Kishinchand Chellaram Collge</h3>
            <span class="qualification__subtitle">College - Mumbai</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> - 2022
            </div>
          </div>
        </div>
        <div class="qualification__data">
          <div>
            <h3 class="qualification__title">
              Dr. D. Y. Patil School of Science &amp; Technology, DPU
            </h3>
            <span class="qualification__subtitle">Graduation - Pune</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i> 2022 - Present
            </div>
          </div>
          <div>
            <span class="qualification__rounder"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
